html {
  height: 100%;
  width: 100%;
  background-color: #2b3d50;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
}

h1, p, h2{
  margin: 0;
  padding: 0;
}

.zephyr-ui {
  border: 1px solid;
  background-color: #515e63;
  color: white;
  padding: 5px;
  font-family: Roboto, sans-serif;
  transition: outline 0.25s;
}

.zephyr-ui::-webkit-scrollbar,
.zephyr-ui-accordian-content::-webkit-scrollbar {
  width: 0.75rem;
  height: 0.75rem;
}
.zephyr-ui::-webkit-scrollbar-thumb,
.zephyr-ui-accordian-content::-webkit-scrollbar-thumb {
  background-color: #515e63;
  border-radius: 0.5rem;
  box-shadow: 0 0 0 2px inset #404a4f;
}
.zephyr-ui::-webkit-scrollbar-track,
.zephyr-ui-accordian-content::-webkit-scrollbar-track {
  background: #404a4f;
  opacity: 0.1;
}

.zephyr-ui::-webkit-scrollbar-corner,
.zephyr-ui-accordian-content::-webkit-scrollbar-corner {
  background: #404a4f;
}

select.zephyr-ui {
  padding: 10px;
  font-size: min(1rem, 5vmin);
  color: white;
  appearance: none;
}
select.zephyr-ui * {
  border-radius: 10px;
}

.zephyr-ui:focus {
  outline: 2px solid #3dcfd1;
}

div.zephyr-ui {
  background-color: #384347;
  transition: all 0.25s;
  border-radius: 5px;
}

.uijs-theme-default-toast {
  position: fixed;
  background-color: #384347;
  color: white;
  transition: all 0.25s;
  padding: 5px;
  margin: 5px;
  box-sizing: border-box;
  top: 100%;
  right: 0;
}

button.zephyr-ui {
  border: 2px solid;
  font-size: 1.25em;
  transition: all 0.25s;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

button.zephyr-ui:hover {
  box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
}
button.zephyr-ui:active {
  transform: scale(0.9);
}

.zephyr-ui-accordian-label {
  display: block;
  background-color: #334248;
  margin: 0;
  user-select: none;
}

.zephyr-ui-accordian-content {
  background-color: #53636a;
  border-radius: 0;
  margin: 0 5px;
  padding: 10px;
  height: auto;
  overflow: hidden;
  transition: height 0.75s;
  box-sizing: border-box;
  scrollbar-gutter: stable;
}