.side-bar {
    width: 20vw;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    flex-direction: column;
    box-sizing: border-box;
}

.side-bar a {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    margin: 0 0.25rem;
    margin-top: 0.25rem;
    padding: 0.5rem;
    color: white;
    text-decoration: none;
    border-radius: 0.25rem;
    transition: all 0.25s;
}

.side-bar a:hover {
    filter: brightness(75%);
    border-radius: 1rem;
}

.side-bar.mobile {
    width: 100%;
    height: 100vh;
    padding: 0.5rem;
}